.box1 {
  margin-top: 100px;
}

.col1 {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 40px;
  text-align: left;
}

h1 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 25px;
  text-align: start;
}

h5 {
  margin-bottom: 15px;
}

.button1 {
  width: 50%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  background-color: #ff5c00;
  border-color: #ff5c00;
}

.button1:hover {
  background-color: red;
  border-color: red;
}

.button1:active {
  color: black;
  background-color: rgb(169, 0, 0);
  border-color: rgb(169, 0, 0);
}

.button2 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  background-color: #ff5c00;
  border-color: #ff5c00;
}

.button2:hover {
  background-color: red;
  border-color: red;
}

.button2:active {
  color: black;
  background-color: rgb(169, 0, 0);
  border-color: rgb(169, 0, 0);
}

.form1 {
  border-radius: 2px;
  margin-bottom: 15px;
  color: black;
}

.form2 {
  border-radius: 2px;
  margin-bottom: 15px;
  color: black;
  height: 100%;
}

.form3 {
  border-radius: 2px;
  margin-bottom: 5px;
  color: black;
}

.form4 {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 2px;
  margin-bottom: 15px;
  color: black;
  background-image: none;
}

a {
  color: #ff5c00;
}

span {
  font-size: large;
}

.radio1 {
  scale: 1.2;
  margin-right: 10px;
}

.radio1:checked {
  background-color: #ff5c00;
  border: red;
}

.label1 {
  font-size: large;
  margin-right: 30px;
  margin-bottom: 30px;
}

.image1 {
  width: 400px;
}

.help-text1 {
  margin-left: 10px;
}
