<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col1 d-flex justify-content-between align-items-center">
        <span class="text">© Copyright 2023 - Far Far Away &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;www.farfarway.com</span>
        <div class="col-6 d-flex justify-content-end">
          <div class="img-offer">
              <a href="https://www.t-systems.com/es/es">
                <img class="card-img-top w-10" src="../assets/T-systemLogo.png" alt="Card image cap">
                <div class="top-right shadow rounded"></div>
            </a>
          </div>
          <div class="icon-social mx-3">
            <a class="link-face" href="https://www.youtube.com/user/TSystemsIberia">
              <i class="fa-brands fa-youtube" style="color: #ffffff;"></i>
            </a>
          </div>
          <div class="icon-social mx-3">
            <a class="link-face" href="https://twitter.com/TSystems_Iberia">
              <i class="fa-brands fa-twitter fa-lg"  style="color: #ffffff;"></i>
            </a>
          </div>
          <div class="icon-social mx-3">
            <a class="link-face" href="https://www.instagram.com/tsystems_iberia/">
              <i class="fa-brands fa-instagram fa-lg" style="color: #ffffff;"></i>
            </a>
          </div>
          <div class="icon-social mx-3">
            <a class="link-face" href="https://www.linkedin.com/company/tsystems-iberia/">
              <i class="fa-brands fa-linkedin-in fa-lg"  style="color: #ffffff;"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
