.footer {
  margin-top: 25vh;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 40px;
  background-color: #600909;

}
.text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 18px;
}

.col1{
  text-align: center;
}


