.col1 {
  width: fit-content;
  padding: 0px;
}

/*.button1 {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 2px;
  font-weight: 500;
  color: white;
  background-color: #2bca55;
  border-color: #2bca55;
}

.button1:hover {
  background-color: #24ab48;
  border-color: #24ab48;
}

.button1:active {
  color: black;
  background-color: #168734;
  border-color: #168734;
}

.image1 {
  height: 200px;
}*/

.img-offer {
  overflow:hidden;
  border-radius: 5px 5px 0px 0px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #ac0006;
  padding: 0px 5px 0px 5px;
}

.countdown {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.card-img-top {
  -webkit-transition:all .4s linear;
  transition:all .4s linear;

}

.card:hover img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.col-4 {
  margin: auto;
  text-align: end;
}

.btn-primary {
  background-color: #ac0006;
  padding: 15px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #770004;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

