<div class="container box1">
  <div class="row">
    <div class="col-12 col-lg-6 col1">
      <h2>Offer Name</h2>
      <h5>Expire date: 20/05/2023</h5>
      <h5>HotelName</h5>
      <h5>Location</h5>
      <h5>Price</h5>
      <div class="row">
        <div class="col-12 col-md-6">
          <a class="btn btn-primary button1" href="/offerpage" role="button">Look
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-md-6">
      <img
        class="image1"
        src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/34680712.jpg?k=6bdb11906589b981c4019c4b46cfd998903d06afd329b5a7fbb8490994038ddd&o=&hp=1"
        alt=""
      />
      <p>(image placeholder)</p>
    </div>
  </div>
</div>
