<div class="container">
  <!-- top -->
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
          <h2 class="card-title">Offer at Enchanted Castl</h2>
          <p class="card-text">The monuments, art and gastronomy of the Old Continent are the most interesting legacies
            it has to offer. The richness of each European capital makes a cultural tour of Europe an experience full of
            great contrasts, so visiting a single city is never an easy task.</p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="col-md-6 p-3 img-fluid">
        <!-- <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
          <mdb-carousel-item>
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>First slide label</h5>
              <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Second slide label</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img
              src="https://mdbootstrap.com/img/Photos/Slides/img%20(23).webp"
              class="d-block w-100"
              alt="..."
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Third slide label</h5>
              <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
          </mdb-carousel-item>
        </mdb-carousel> -->
        <img src="../../assets/offer01.png" class="img-fluid" alt="...">
      </div>
    </div>
  </div>
  <!-- center -->
  <div class="card mt-5">
    <div class="row">
      <div class="col-md-6 p-4">
        <ul class="list-group">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Price</li>
          <li class="list-group-item">Date</li>
          <li class="list-group-item">Number of people</li>
          <li class="list-group-item">Place</li>
        </ul>
      </div>
      <div class="col-md-6 p-4">
        <div class="incluid">
          <h4>This offer includes</h4>
        </div>
        <ul class="list-group">
          <li class="list-group-item">Available on ALL-INCLUSIVE basis</li>
          <li class="list-group-item">Available from 4 nights of travel</li>
          <li class="list-group-item">Boarding fees</li>
          <li class="list-group-item">FREE cancellation up to 4 days in advance</li>

        </ul>
      </div>
    </div>
  </div>
  <!-- buttons -->
  <div class="container-fluid btn-group justify-content-center mt-5">
    <div class="btn-calendar mx-3">
      <date-range-picker></date-range-picker>
    </div>
    <div class="btn-increment mx-3">
      <increment-input></increment-input>
    </div>
    <div class="bookit mx-3">
      <button type="button" class="btn btn-secondary btn-bookit">Book it</button>
    </div>
  </div>
</div>
