.container::before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/wallpaperbetter.jpg") no-repeat center center /
    cover;
  opacity: 0.2;
  z-index: -1;
}
@font-face {
  font-family: Abibas;
  src: url(../../assets/Abibas.ttf);
}

.card-title{
  font-family: Abibas;
  font-size: 50px;
}

.name-ofer{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}
.card-name, .descri, .btn-group{
  margin-top: 20px;
}

.card-up {
  margin-top: 50px;
  background-color: transparent;
}
.group-01{
  margin-top: 37px;
}
.group-02 .list-group-item{
  padding: 9.5px;
}
.name-ofer, .card-title{
  color: rgb(96,9,9);
}

.incluid {
  text-align: center;
}

.conta-img {
  width: 100%;
}

.btn-calendar date-range-picker /deep/ .mat-mdc-form-field-flex {
  width: 220px;

}

.btn-increment increment-input /deep/ .mat-mdc-form-field-flex {
  width: 150px;
}

.btn-increment increment-input /deep/ .mat-mdc-input-element {
  text-align: center !important;
}

.btn-bookit {
  font-size: 28px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #ac0006;
  text-align: center;
  border: none;
}

.btn-bookit:hover {
  background-color: #770004;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid rgb(149, 149, 149);
}
.last{
  margin-top: 110px;
  font-size: 15px;
  margin-left: 10px;
}

.modal-body {
  padding: 20px;
}

.modal-content {
  overflow:hidden;
  border-radius: 8px;
}

.input-group-text {
  width: 100px;
}

.complete-book {
  font-size: 15px;
  color: white;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress, .progress-stacked {
  background-color: #ac0006;
  height: 40px;
}

.progress-bar {
  background-color: #bc383c;
}
