<div class="container">
  <!-- top -->
  <div class="card-up mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body card-name">
          <h2 class="card-title">{{name}}</h2>
          <p class="card-text descri"><span>{{description}}</span></p>
          <div class="last">
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 p-3">
        <mdb-carousel [animation]="'fade'">
          <mdb-carousel-item>
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(15).webp" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
            </div>
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img src="https://mdbootstrap.com/img/Photos/Slides/img%20(22).webp" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
            </div>
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
  <!-- center -->
  <div class=" mt-5">
    <div class="row">
      <div class="col-md-6 p-4 group-01">
        <ul class="list-group">
          <li class="list-group-item"><strong>{{name}}</strong></li>
          <li class="list-group-item"><strong>Price: </strong><span class="name-ofer">{{price}} €</span></li>
          <li class="list-group-item"><strong>Start Date: </strong><span class="name-ofer">{{start_date}}</span></li>
          <li class="list-group-item"><strong>Exp.Date: </strong><span class="name-ofer">{{expire_date}}</span></li>
        </ul>
      </div>
      <div class="col-md-6 p-4">
        <div class="incluid">
          <h4>This offer includes</h4>
        </div>
        <ul class="list-group group-02">
          <li class="list-group-item">Available on ALL-INCLUSIVE basis</li>
          <li class="list-group-item">Available from 4 nights of travel</li>
          <li class="list-group-item">Boarding fees</li>
          <li class="list-group-item">FREE cancellation up to 4 days in advance</li>

        </ul>
      </div>
    </div>
  </div>
  <!-- buttons -->
  <div class="container-fluid btn-group justify-content-center mt-5">
    <div class="btn-calendar mx-3">
      <date-range-picker></date-range-picker>
    </div>
    <div class="btn-increment mx-3">
      <increment-input></increment-input>
    </div>
    <div class="bookit mx-3">
      <!-- Button trigger modal -->
      <button type="button"class="btn btn-primary btn-bookit" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Book it
      </button>

      <!-- Modal -->
      <div #myModal class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
              <div class="input-group mb-3">
                <span class="input-group-text justify-content-center" id="inputGroup-sizing-default">Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text justify-content-center" id="inputGroup-sizing-default">Last Name</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text justify-content-center" id="inputGroup-sizing-default">Email</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
              </div>
              <div style="position: relative;" (click)="makeProgress()" (click)="closeModal()">
                <div class="complete-book justify-content-center">Complete book</div>
                <div class="progress" (mouseenter)="onHover()" (mouseleave)="onLeave()">
                  <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
