<div class="container-fluid">
  <div class="col-3">
    <app-filters class="filters"></app-filters>
  </div>

  <div class="col">
    <div class="container-fluid">
      <div class="row">
        <div class="col-8">
          <google-map [center]="center" [zoom]="zoom" class="maps">
            <map-marker *ngFor="let marker of markers" [position]="marker"></map-marker>
          </google-map>
        </div>
        <div class="col-4 overflow-auto">
          <div class="col-md-6 col-lg-6" *ngFor="let offer of hotelOffers">
            <app-offer-card [hotelOffer]="offer"></app-offer-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
