<div class="container-fluid">
  <div class="row g-0">
    <div class="col-md-3">
      <app-filters class="filters"></app-filters>
    </div>
    <div class="col-md-6">
      <google-map [center]="center" [zoom]="zoom" class="maps"></google-map>
    </div>
    <div class="col-md-3">
      <app-offer-card-map></app-offer-card-map>
      <app-offer-card-map></app-offer-card-map>
      <app-offer-card-map></app-offer-card-map>
      <app-offer-card-map></app-offer-card-map>
    </div>
  </div>
</div>
