<div class="container">
  <div class="row ">
    <div class="col-md-6">
      <div class="card mb-3 hover-zoom">
        <div class="bg-image hover-zoom">
          <img class="card-img-top w-100" src="../assets/Hotel1.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3 hover-zoom">
        <div class="bg-image hover-zoom">
          <img class="card-img-top w-100" src="../assets/Hotel2.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row ">
    <div class="col-md-6">
      <div class="card mb-3 ">
        <div class="bg-image hover-zoom">
          <img class="card-img-top w-100" src="../assets/Hotel3.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3">
        <div class="bg-image hover-zoom">
          <img class="card-img-top w-100" src="../assets/Hotel4.jpg" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>
