.container-left {
  float: left;
  margin-left: 30px;
}

.map {
  margin-bottom: 20px;
  width: fit-content;
  border: solid 1px rgba(0, 0, 0, 0.175) !important;
  display:flex;
}

google-map /deep/ .map-container {
  border-radius: 5px;
  height: 350px !important;
  width: 200px !important;
}

google-map {
  border-radius: 20px;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-right: 10px;
  margin-bottom: 20px;
}

.img-offer {
  overflow:hidden;
  border-radius: 5px 5px 0px 0px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #ac0006;
  padding: 0px 5px 0px 5px;
}

.countdown {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.card-img-top {
  -webkit-transition:all .4s linear;
  transition:all .4s linear;

}

.card:hover img {
  -ms-transform:scale(1.1);
  -webkit-transform:scale(1.1);
  transform:scale(1.1);
}

.col-4 {
  margin: auto;
  text-align: center;
}

.btn-primary {
  background-color: #ac0006;
  padding: 15px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #770004;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
