.col1 {
  width: fit-content;
  padding: 0px;
}

.dayNumber {
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.dayLetter {
  color: white;
}

.img-offer {
  overflow: hidden;
  border-radius: 5px 5px 0px 0px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  background-color: #ac0006;
  padding: 0px 5px 0px 5px;
}

.countdown {
  font-weight: bold;
  font-size: 20px;
  color: white;
}

.card-img-top {
  -webkit-transition: all .4s linear;
  transition: all .4s linear;

}

.card:hover img {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.col-4 {
  margin: auto;
  text-align: end;
}

.btn-primary {
  background-color: #ac0006;
  padding: 15px;
  text-align: center;
}

.btn-primary:hover {
  background-color: #770004;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
