.box1 {
  background-color: #212529;
  padding-top: 20px;
}

.col1 {
  margin-bottom: 15px;
}

.button1 {
  border-radius: 5px;
  background-color: #ffb800;
  border: none;
  width: 100%;
  color: black;
}

.button1:hover {
  background-color: #ff5c00;
}
