<div class="container box1 px-3 px-lg-5">
  <div class="row justify-content-center">
    <div class="col-6 col-md-3 col1">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle button1"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Themes
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark w-100"
          aria-labelledby="dropdownMenuButton1"
        >
          <li><a class="dropdown-item dropdownItem1" href="#">Medieval</a></li>
          <li><a class="dropdown-item dropdownItem1" href="#">Western</a></li>
          <li><a class="dropdown-item dropdownItem1" href="#">Victorian</a></li>
          <li><a class="dropdown-item dropdownItem1" href="#">Futuristic</a></li>
          <li><a class="dropdown-item dropdownItem1" href="#">Geek</a></li>
          <li>
            <a class="dropdown-item dropdownItem1" href="#">More themes...</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-md-3 col1">
      <div class="dropdown">
        <button
          class="btn btn-primary dropdown-toggle button1"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Special Dates
        </button>
        <ul
          class="dropdown-menu dropdown-menu-dark w-100 dropdown1"
          aria-labelledby="dropdownMenuButton2"
        >
          <li><a class="dropdown-item dropdownItem1" href="#">Easter</a></li>
          <li>
            <a class="dropdown-item dropdownItem1" href="#">Saint John's Eve</a>
          </li>
          <li>
            <a class="dropdown-item dropdownItem1" href="#">Summer Holidays</a>
          </li>
          <li><a class="dropdown-item dropdownItem1" href="#">Christmas</a></li>
          <li>
            <a class="dropdown-item dropdownItem1" href="#">More dates...</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-6 col-md-3 col1">
      <a class="btn btn-primary button1" href="/maps">Map</a>
    </div>
    <div class="col-6 col-md-3 col1">
      <button class="btn btn-primary button1" href="/lastoptions">
        Last Options
      </button>
    </div>
  </div>
</div>
