/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




