.barra-buscar-oferta {
  margin-bottom: 40px;
  height: 300px;
  background-image: url(../../assets/MedievalBackground.jpg) !important;
  background-size: 500px;
  background-repeat: repeat;
}
.nav-item{
  padding-bottom: 10px;
}

.container-white {
  background-color: white;
  padding: 25px 25px 10px 25px;
  margin: 100px;
  width: 80%;
}

.search-bar-title {
  font-size: 25px;
  font-weight: bold;
  padding-left: 20px;
}

.imput-destination {
  width: 100%;
  padding: 0px;
}

.search-bar-col date-range-picker /deep/ .mat-mdc-form-field {
  width: 100%;
}

.search-bar-col increment-input /deep/ .mat-mdc-form-field {
  text-align: center;
  width: 100%;
}

.search-bar-col increment-input /deep/ .mat-mdc-input-element {
  text-align: center !important;
  width: 100%;
}

.btn-search {
  background-color: #ac0006;
  height: 55px;
  padding: 0px 40px 0px 40px;
  width: 100%;
}
.btn-search:hover {
  background-color: #770004;
}

.increment-inputs {
  width: 350px;
}

.btn-search-col {
  width: 200px;
}

