.barra-buscar-oferta {
  margin-bottom: 40px;
  height: 200px;
  background-image: url(../../assets/MedievalBackground.jpg) !important;
  background-size: 500px;
  background-repeat: repeat;
}
.nav-item{
  padding-bottom: 10px;
}
.drop-offer{
  width: 25%;
  padding-bottom: 20px;
}
.dr-offer {
  width: 100%;
  background-color: #ac0006;
}
.dr-offer:hover {
  background-color: #770004;
}
.btn-search {
  background-color: #e7d2ae;
}
.btn-search:hover {
  background-color: #b8a584;
}

/* ------------- */

.btn, .form-control {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn:focus, .btn:active, .form-control:focus, .form-control:active {
    outline: none;
}

.form-control {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  height: 50px;
  border-width: 2px; }

  .form-control:active, .form-control:focus {
    border-color: #ac0006;
  }

textarea.form-control {
  height: inherit;
}

