<div class="container-flex bg-dark barra-buscar-oferta">
  <!-- <div class="col">
    <h4 class="text text-light text-travel text-center">Search your travel offer</h4>
  </div>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <div class="dropdown mx-4 drop-offer">
        <button class="btn btn-secondary dropdown-toggle dr-offer" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Destinations
        </button>
        <ul class="dropdown-menu drmenu-destination">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mx-4 drop-offer">
        <button class="btn btn-secondary dropdown-toggle dr-offer" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Duration
        </button>
        <ul class="dropdown-menu drmenu-duration">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mx-4 drop-offer">
        <button class="btn btn-secondary dropdown-toggle dr-offer" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Adults
        </button>
        <ul class="dropdown-menu drmenu-adults">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown mx-4 drop-offer">
        <button type="button" class="btn btn-light btn-search">Search</button>
      </div>
    </div>
  </nav> -->

<date-range-picker></date-range-picker>
</div>
