<div class="container-flex d-flex align-items-center justify-content-center barra-buscar-oferta">
  <div class="row shadow rounded justify-content-center container-white">
    <p class="search-bar-title">Where do you want to travel?</p>
    <div class="col-lg-3 col-md-12 search-bar-col">
      <form>
        <mat-form-field class="imput-destination">
          <mat-label>Destination</mat-label>
          <input matInput placeholder="Ex. Barcelona" value="">
        </mat-form-field>
      </form>
    </div>

    <div class="col-lg-3 col-md-6 search-bar-col date-range-picker">
      <date-range-picker></date-range-picker>
    </div>

    <div class="col-lg-3 col-md-6 search-bar-col increment-inputs">
      <increment-input></increment-input>
    </div>

    <div class="col-lg-3 col-md-6 search-bar-col btn-search-col">
      <button type="button" class="btn btn-primary btn-search">Search</button>
    </div>

  </div>
</div>
