.barra-buscar-oferta {
  margin-bottom: 40px;
}

.nav-item{
  padding-bottom: 10px;
}
.drop-offer{
  width: 25%;
  padding-bottom: 20px;
}
.dr-offer, .bt-offer{
  width: 100%;
  background-color: #ffb800;
}
.bt-offer{
  background-color: #ff5c00;
}
.bt-offer:hover, .dr-offer:hover {
  background-color: red;
}
