<div class="container box1">
  <div class="row">
    <div class="col-12 col-md-12 col1">
      <a style="cursor: pointer;">
        <div class="card mb-3 hover-zoom">
          <div class="img-offer">
            <img class="card-img-top w-100" [src]="'../assets/Hotel' + id + '.jpg'" alt="Card image cap">
          </div>
          <div class="card-body row">
            <div class="col-8">
              <h5 class="card-title">{{name}}</h5>
              <p class="card-text">{{description}}</p>
            </div>
            <div class="col-4">
              <button type="button" class="btn btn-success">Edit</button>&nbsp;
              <button type="button" class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
