<div class="container box1">
  <div class="row">
    <div class="col">
      <h4><strong>Filters</strong></h4>
    </div>
  </div>
  <hr />
  <!-- RATING -->
  <div class="row">
    <div class="btn-group-vertical">
      <h5>Rating:</h5>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          type="checkbox"
          value=""
          id="rating5"
        />
        <label class="form-check-label" for="rating5">
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="rating4"
        />
        <label class="form-check-label" for="rating4">
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
          <i class="bi bi-suit-spade-fill"></i>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="rating3"
        />
        <label class="form-check-label" for="rating3">
          <i class="bi bi-suit-spade-fill"></i
          ><i class="bi bi-suit-spade-fill"></i
          ><i class="bi bi-suit-spade-fill"></i>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="rating2"
        />
        <label class="form-check-label" for="rating2">
          <i class="bi bi-suit-spade-fill"></i
          ><i class="bi bi-suit-spade-fill"></i>
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="rating1"
        />
        <label class="form-check-label" for="rating1">
          <i class="bi bi-suit-spade-fill"></i>
        </label>
      </div>
    </div>
  </div>
  <hr />
  <!-- THEMES -->
  <div class="row">
    <div class="btn-group-vertical">
      <h5>Themes:</h5>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="medieval"
        />
        <label class="form-check-label" for="medieval"> Medieval </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="farwest"
        />
        <label class="form-check-label" for="farwest"> Far West </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="victorian"
        />
        <label class="form-check-label" for="victorian"> Victorian </label>
      </div>
    </div>
  </div>
  <hr />
  <!-- SPECIAL DATES -->
  <div class="row">
    <div class="btn-group-vertical">
      <h5>Special Dates:</h5>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="easter"
        />
        <label class="form-check-label" for="easter"> Easter </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="saintjohneve"
        />
        <label class="form-check-label" for="saintjohneve">
          Saint John's Eve
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="summerholidays"
        />
        <label class="form-check-label" for="summerholidays">
          Summer Holidays
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="christmas"
        />
        <label class="form-check-label" for="christmas"> Christmas </label>
      </div>
    </div>
  </div>
  <hr />
  <!-- PRICE -->
  <div class="row">
    <div class="btn-group-vertical">
      <h5>Price:</h5>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="+100"
        />
        <label class="form-check-label" for="+100"> more than 100€ </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="75-100"
        />
        <label class="form-check-label" for="75-100"> 75€ to 100€ </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="50-75"
        />
        <label class="form-check-label" for="50-75"> 50€ to 75€ </label>
      </div>
      <div class="form-check">
        <input class="form-check-input checkbox1" type="checkbox" id="25-50" />
        <label class="form-check-label" for="25-50"> 25€ to 50€ </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="-25"
        />
        <label class="form-check-label" for="-25"> less than 25€ </label>
      </div>
    </div>
  </div>
  <hr />
  <!-- SPECIAL CONDITIONS -->
  <div class="row">
    <div class="btn-group-vertical">
      <div class="form-check">
        <h5>Special conditions:</h5>
        <input
          class="form-check-input checkbox1"
          value=""
          type="checkbox"
          id="lastoptions"
        />
        <label class="form-check-label" for="lastoptions"> Last Options </label>
      </div>
    </div>
  </div>
</div>
