<div class="container">
  <!-- logo -->
  <div class="box1 d-flex justify-content-center m-3">
    <div class="col-6 logo">
      <img src="../../assets/logoHorizontal.png" class="img-fluid" alt="...">
    </div>
  </div>
  <!-- description company -->
  <div class="box2 d-flex justify-content-center m-3">
    <div class="card descrip-company">
      <div class="card-body">
        <p class="card-text"> Far Far Away is a web platform for thematic travel offers, focused on adventurous and
          medieval type experiences, among others. Its main objective is to provide users with a variety of travel
          options that match their specific interests and preferences.</p>
      </div>
      <div class="card-body">
        <p class="card-text">In short, the app is a web platform that allows users to discover, book and enjoy themed
          travel deals,
          especially focused on adventurous and medieval experiences. It provides a convenient way to explore options,
          make reservations and take advantage of exclusive offers for unique and memorable travel experiences.
        </p>
      </div>
    </div>
  </div>
  <!-- members -->
  <div class="box3 m-5">
    <div class="title d-flex justify-content-center">
      <h3 class="card-text">
        Developers
      </h3>
    </div>
    <div class="d-flex justify-content-center m-3">
      <div class="card col-3 members">
        <p class="card-text p-2">
          Andrea Dal Pezzo
        </p>
      </div>
      <div class="card col-3 members">
        <p class="card-text p-2">
          Roger Gibert Rovira
        </p>
      </div>
      <div class="card col-3 members">
        <p class="card-text p-2">
          Marc Sáez
        </p>
      </div>
      <div class="card col-3 members">
        <p class="card-text p-2">
          Alberto del Pozo
        </p>
      </div>
    </div>
  </div>
  <!-- foot -->
  <footer>
    <div class="d-flex justify-content-center">
      <div class="box4 d-flex justify-content-between">
        <div class="foot1 col-6 p-3">
          <div class="title-foot">
            <h6>LEGAL INFORMATION</h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><a class="links" href="#">&gt; Legal Notice</a></li>
            <li class="list-group-item"><a class="links" href="#">&gt; Terms of Use</a></li>
            <li class="list-group-item"><a class="links" href="#">&gt; Privacy Policy</a></li>
            <li class="list-group-item"><a class="links" href="#">&gt; Cookies Policy</a></li>
          </ul>
        </div>

        <div class="foot2 col-5 p-3">
          <div class="title-foot">
            <h6>FAR FAR AWAY</h6>
          </div>
          <ul class="list-group list-group-flush">
            <div>Reus</div>

            <div class="d-flex mt-2">
              <div class="phone">Phone:</div>
              <div>
                <span><a class="links" href="#">+34123456789</a></span>
              </div>
            </div>

            <div class="d-flex mt-2">
              <div class="phone">Mobile:</div>
              <div>
                <span><a class="links" href="#">123456789</a></span>
              </div>
            </div>

            <div class="d-flex mt-2">
              <div class="phone">Email:</div>
              <div>
                <span><a class="links" href="#">info@farfaraway.com</a></span>
              </div>
            </div>

            <div class="d-flex mt-2">
              <div class="phone">Web:</div>
              <div>
                <span><a class="links" href="#">farfaraway.com</a></span>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
