<div class="container text-center box1">
  <div class="row d-flex align-items-center justify-content-center row1">
    <div class="col-12 col-md-8 col-xl-6 col1"><h1>Log in</h1></div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 col1">
      <form class="was-validated">
        <div class="form-floating">
          <input
            type="text"
            class="form-control form1"
            id="floatingInput1"
            placeholder="Email"
            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            required
          />
          <label class="label1" for="floatingInput1">Email</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control form1"
            id="floatingInput2"
            placeholder="Enter your password"
            required
          />
          <label class="label1" for="floatingInput2">Password</label>
        </div>
        <button class="btn btn-primary button1">Log in</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 col1">
      <span>
        Don't have an account? &nbsp;
        <a href="/register" role="button">Register here </a>
      </span>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-xl-6 col1">
      <span>Log in with &nbsp;&nbsp;</span>
      <a class="btn btn-dark button2" href="https://www.google.com/search?q=como+buscar+google+en+google&client=opera-gx&hs=ev4&sxsrf=APwXEdfqrsj25raUW0RL9CkK8Gt_LaJLKg%3A1684743405944&ei=7SRrZL6ROY-L9u8P1p-06A4&oq=como+buscar+google+en+goo&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQARgAMgUIABCABDoHCCMQsAMQJzoKCAAQRxDWBBCwAzoPCC4QigUQyAMQsAMQQxgBOgwIIxCKBRATEIAEECc6BAgjECc6DQgAEIoFELEDEIMBEAo6EQguEIAEELEDEIMBEMcBENEDOgsIABCABBCxAxCDAToICC4QsQMQgAQ6BwgjEIoFECc6BwgAEIoFEEM6CggAEIAEEBQQhwI6CwgAEIoFELEDEIMBOggIABCABBCxAzoGCAAQFhAeSgQIQRgAUPwIWK8pYMk3aAFwAXgAgAGHAYgB_xWSAQQxLjI0mAEAoAEByAENwAEB2gEECAEYCA&sclient=gws-wiz-serp">
        <i class="bi bi-google"></i>&nbsp;&nbsp;Gmail
      </a>
    </div>
  </div>
</div>
