<div class="container">
  <div class="row gx-2 justify-content-center">

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Adults</mat-label>
        <button
          mat-icon-button
          matPrefix
          aria-label="Remove"
          [color]="getColor()"
          (click)="incrementValueAdults(-_stepAdults)"
          [disabled]="shouldDisableDecrementAdults(_valueAdults)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="_valueAdults" (focus)="setColor('primary')" (blur)="setColor('default')" />
        <button
          mat-icon-button
          matSuffix
          aria-label="Add"
          [color]="getColor()"
          (click)="incrementValueAdults(_stepAdults)"
          [disabled]="shouldDisableIncrementAdults(_valueAdults)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="col-md-6">
      <mat-form-field>
        <mat-label>Children</mat-label>
        <button
          mat-icon-button
          matPrefix
          aria-label="Remove"
          [color]="getColor()"
          (click)="incrementValueChildren(-_stepChildren)"
          [disabled]="shouldDisableDecrementChildren(_valueChildren)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" [(ngModel)]="_valueChildren" (focus)="setColor('primary')" (blur)="setColor('default')" />
        <button
          mat-icon-button
          matSuffix
          aria-label="Add"
          [color]="getColor()"
          (click)="incrementValueChildren(_stepChildren)"
          [disabled]="shouldDisableIncrementChildren(_valueChildren)">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>
    </div>

  </div>
</div>
